{% extends "index.html" %}
{% block content %}



<div class="container about-us">
	<h2 class="entry-title text-dark">Highly experienced and qualified Vehicle Technicians</h2>
	<p>The Ger’s Garage has emerged with solution of all garage services which is available 24X7 just a click away. The
		system includes regular car service, major car repair, washing & detailing or any kind of emergency car repair
		also all kind of small to medium vehicles (i.e. motorbikes, cars, small vans and small buses)
		The Ger’s Garage aims at making vehicles service and repair hassle free and time efficient along with the
		facility of pick and drop to make our customers’ life easy.
		We provide service to vehicle owners and service providers through our tech-enabled website. It’s a ONE STOP
		solution for all the vehicle owners who have at some point experienced the anguish because of the lack of
		transparency and up selling by your vehicle service provider. The idea here is to make the whole experience of
		owning a vehicle more beautiful.
		We believe customers deserve a first class service – so whatever you need we are only too happy to help.</p>

	<div class="team row">
		<div class='col-sm-5'>
			<figure class="team-image"><img src="../static/dummy/profile-1.jpg" alt="person-1"></figure>
		</div>
		<div class='col-sm-7'>
			<h3 class="team-name">Steven Simon</h3>
			<div class="team-desc">Main mechaninc</div>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor ut tenetur dicta deserunt fugiat itaque
				voluptates doloremque dolore accusamus suscipit quasi velit impedit quibusdam, fugit qui? Doloremque
				veritatis omnis inventore.</p>
			<div class="team-social">
				<a href=""><i class="fa fa-facebook"></i></a>
				<a href=""><i class="fa fa-google-plus"></i></a>
			</div>
		</div>
	</div>
	<div class="team row">
		<div class='col-sm-5'>
			<figure class="team-image"><img src="../static/dummy/person-2.jpg" alt="person-1"></figure>
		</div>
		<div class='col-sm-7'>
			<h3 class="team-name">Steven Simon</h3>
			<div class="team-desc">Main mechaninc</div>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor ut tenetur dicta deserunt fugiat itaque
				voluptates doloremque dolore accusamus suscipit quasi velit impedit quibusdam, fugit qui? Doloremque
				veritatis omnis inventore.</p>
			<div class="team-social">
				<a href=""><i class="fa fa-facebook"></i></a>
				<a href=""><i class="fa fa-google-plus"></i></a>
			</div>
		</div>
	</div>
	<div class="team row">
		<div class='col-sm-5'>
			<figure class="team-image"><img src="../static/dummy/person-3.jpg" alt="person-1"></figure>
		</div>
		<div class='col-sm-7'>
			<h3 class="team-name">Steven Simon</h3>
			<div class="team-desc">Main mechaninc</div>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor ut tenetur dicta deserunt fugiat itaque
				voluptates doloremque dolore accusamus suscipit quasi velit impedit quibusdam, fugit qui? Doloremque
				veritatis omnis inventore.</p>
			<div class="team-social">
				<a href=""><i class="fa fa-facebook"></i></a>
				<a href=""><i class="fa fa-google-plus"></i></a>
			</div>
		</div>
	</div>
	<div class="team row">
		<div class='col-sm-5'>
			<figure class="team-image"><img src="../static/dummy/person-4.jpg" alt="person-1"></figure>
		</div>
		<div class='col-sm-7'>
			<h3 class="team-name">Steven Simon</h3>
			<div class="team-desc">Main mechaninc</div>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor ut tenetur dicta deserunt fugiat itaque
				voluptates doloremque dolore accusamus suscipit quasi velit impedit quibusdam, fugit qui? Doloremque
				veritatis omnis inventore.</p>
			<div class="team-social">
				<a href=""><i class="fa fa-facebook"></i></a>
				<a href=""><i class="fa fa-google-plus"></i></a>
			</div>
		</div>
	</div>
</div>



{% endblock content %}