{% extends "index.html" %}
{% block content %}



<div class="container about-us">
	<h2 class="entry-title text-dark">Highly experienced and qualified Vehicle Technicians</h2>
	<p>The Ger’s Garage has emerged with solution of all garage services which is available 24X7 just a click away. The
		system includes regular car service, major car repair, washing & detailing or any kind of emergency car repair
		also all kind of small to medium vehicles (i.e. motorbikes, cars, small vans and small buses)
		The Ger’s Garage aims at making vehicles service and repair hassle free and time efficient along with the
		facility of pick and drop to make our customers’ life easy.
		We provide service to vehicle owners and service providers through our tech-enabled website. It’s a ONE STOP
		solution for all the vehicle owners who have at some point experienced the anguish because of the lack of
		transparency and up selling by your vehicle service provider. The idea here is to make the whole experience of
		owning a vehicle more beautiful.
		We believe customers deserve a first class service – so whatever you need we are only too happy to help.</p>

	<div class="team row">
		<div class='col-sm-5'>
			<figure class="team-image"><img src="../static/dummy/profile-1.jpg" alt="person-1"></figure>
		</div>
		<div class='col-sm-7'>
			<h3 class="team-name">Steven Simon</h3>
			<div class="team-desc">Main mechaninc</div>
			<p>All of our technicians work under the Trading Standards approved quality assurance code of
					conduct – Trust My Garage – specific for independent garages in the UK. Our Technicians are
					fully-trained and qualified to carry out your vehicle’s service.</p>
			<div class="team-social">
				<a href=""><i class="fa fa-facebook"></i></a>
				<a href=""><i class="fa fa-google-plus"></i></a>
			</div>
		</div>
	</div>
	<div class="team row">
		<div class='col-sm-5'>
			<figure class="team-image"><img src="../static/dummy/profile-2.jpg" alt="person-1"></figure>
		</div>
		<div class='col-sm-7'>
			<h3 class="team-name">Marko Stevenes</h3>
			<div class="team-desc">Painter</div>
			<p>Marko is a hobby artists who may be pursuing some other profession but are passionate about their art practice.  His detail-intensive works have become widely recognized for their dreamlike ability to transcend the natural states of space and time. </p>
			<div class="team-social">
				<a href=""><i class="fa fa-facebook"></i></a>
				<a href=""><i class="fa fa-google-plus"></i></a>
			</div>
		</div>
	</div>
	<div class="team row">
		<div class='col-sm-5'>
			<figure class="team-image"><img src="../static/dummy/profile-3.jpg" alt="person-1"></figure>
		</div>
		<div class='col-sm-7'>
			<h3 class="team-name">David Smith</h3>
			<div class="team-desc">Engineer</div>
			<p>David having more than 10 years of experience in repairing cars. he worked with various garages.
				he is a car machenic, who takes care of all cars related services like monthly servicing, anual servicing, changing oil, gear box.
				he also suggest some best things which are helpful to maintain your cars life long.
				his experties are really helpful to made our customer satisfied all the way.
				</p>
			<div class="team-social">
				<a href=""><i class="fa fa-facebook"></i></a>
				<a href=""><i class="fa fa-google-plus"></i></a>
			</div>
		</div>
	</div>
	<div class="team row">
		<div class='col-sm-5'>
			<figure class="team-image"><img src="../static/dummy/profile-4.jpg" alt="person-1"></figure>
		</div>
		<div class='col-sm-7'>
			<h3 class="team-name">Newton Colse</h3>
			<div class="team-desc">Computer Specialist</div>
			<p>Newton is specialised in Bike automotive, he is more than 5 years of experience, working with many garages all over the world.
				he takes care of all types of bikes sport bikes related things.				
				His expert advise is really helpful to maintain your bike life long.</p>
			<div class="team-social">
				<a href=""><i class="fa fa-facebook"></i></a>
				<a href=""><i class="fa fa-google-plus"></i></a>
			</div>
		</div>
	</div>
</div>

{% endblock content %}