{% extends "index.html" %}
{% block content %}		


			<main class="main-content">
				
				<div class="fullwidth-block content">
					<div class="container">
						<h2 class="entry-title">Highly experienced and qualified Vehicle Technicians</h2>
						<p>The Ger’s Garage has emerged with solution of all garage services which is available 24X7 just a click away. The system includes regular car service, major car repair, washing & detailing or any kind of emergency car repair also all kind of small to medium vehicles (i.e. motorbikes, cars, small vans and small buses)
							The Ger’s Garage aims at making vehicles service and repair hassle free and time efficient along with the facility of pick and drop to make our customers’ life easy.							
							We provide service to vehicle owners and service providers through our tech-enabled website. It’s a ONE STOP solution for all the vehicle owners who have at some point experienced the anguish because of the lack of transparency and up selling by your vehicle service provider. The idea here is to make the whole experience of owning a vehicle more beautiful.
							We believe customers deserve a first class service – so whatever you need we are only too happy to help.</p>

						<div class="team image-left">
							<figure class="team-image"><img src="../static/dummy/person-1.jpg" alt="person-1"></figure>
							<h3 class="team-name">Steven Simon</h3>
							<small class="team-desc">Main mechaninc</small>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor ut tenetur dicta deserunt fugiat itaque voluptates doloremque dolore accusamus suscipit quasi velit impedit quibusdam, fugit qui? Doloremque veritatis omnis inventore.</p>
							<div class="team-social">
								<a href=""><i class="fa fa-facebook"></i></a>
								<a href=""><i class="fa fa-google-plus"></i></a>
							</div>
						</div>
						<div class="team image-left">
							<figure class="team-image"><img src="../static/dummy/person-2.jpg" alt="person-2"></figure>
							<h3 class="team-name">George Stevens</h3>
							<small class="team-desc">Painter</small>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus quisquam hic cum laboriosam, est saepe amet magni labore, corrupti recusandae dolores id in quidem atque, corporis animi, perferendis. Nostrum, laborum!</p>
							<div class="team-social">
								<a href=""><i class="fa fa-facebook"></i></a>
								<a href=""><i class="fa fa-google-plus"></i></a>
							</div>
						</div>
						<div class="team image-left">
							<figure class="team-image"><img src="../static/dummy/person-3.jpg" alt="person-3"></figure>
							<h3 class="team-name">David Smith</h3>
							<small class="team-desc">Engineer</small>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti quisquam, odit! Mollitia, porro. Quidem officiis, harum tempora, voluptates distinctio quis illo temporibus, ea, nisi perspiciatis architecto. Voluptate voluptatibus, maiores atque.</p>
							<div class="team-social">
								<a href=""><i class="fa fa-facebook"></i></a>
								<a href=""><i class="fa fa-google-plus"></i></a>
							</div>
						</div>
						<div class="team image-left">
							<figure class="team-image"><img src="../static/dummy/person-4.jpg" alt="person-4"></figure>
							<h3 class="team-name">Howarrd Newman</h3>
							<small class="team-desc">Computer Specialist</small>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae repellat ipsum optio nam! Error at minus fugit est voluptatum, placeat, exercitationem, aspernatur dignissimos voluptate odio ea maiores eaque blanditiis! Placeat?</p>
							<div class="team-social">
								<a href=""><i class="fa fa-facebook"></i></a>
								<a href=""><i class="fa fa-google-plus"></i></a>
							</div>
						</div>
					</div>
				</div>

			</main> <!-- .main-content -->


{% endblock content %}
