{% extends "index.html" %}
{% load crispy_forms_tags %}
{% block content %}
	<main class="main-content">
				
				<div class="fullwidth-block content">
					<div class="container">

						<div class="card">
							<h5 class="card-header bg-dark white-text text-center py-4">
									<strong>Book your service Now</strong>
								</h5>
								<div class="card-body px-lg-5 pt-0">
										<form method="POST" action="#" class="content-section contact-form">
												{% csrf_token %}
												<fieldset class="form-group">
													{{ form|crispy }}
												</fieldset>
												<div class="form-group">
													<button class="btn btn-custom w-100 btn-rounded" type="submit">Book </button>
												</div>
											</form>
										</form>
								</div>
						</div>	
					</div>
				</div>

			</main> <!-- .main-content -->
{% endblock content %}