{% extends "index.html" %}
{% block content %}

<div class="table-responsive p-3">
	{% if services %}
	<table class="table table-striped table-responsive-md btn-table">
		<thead class="thead-dark">
			<tr>
				<th scope="col">Service Type</th>
				<th scope="col">Vehicle Type </th>
				<th scope="col">Vehicle Make</th>
				<th scope="col">Vehicle Licence</th>
				<th scope="col">Vehicle Engine Type</th>
				<th scope="col">Selected Date</th>
				<th scope="col">Status</th>
				<th scope="col">Details</th>
			</tr>
		</thead>
		<tbody>
			{% for service in services %}
			<tr>
				<td scope="row">{{ service.service_type }}</td>
				<td scope="row">{{ service.vehicle_type }}</td>
				<td scope="row">{{ service.vehicle_make }}</td>
				<td scope="row">{{ service.vehicle_licence }}</td>
				<td scope="row">{{ service.vehicle_engine_type }}</td>
				<td scope="row">{{ service.selected_date }}</td>
				<td scope="row">{{ service.status }}</td>
				<td><a class="btn btn-custom btn-rounded" href="/history/{{service.id}}">details</a></td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	{% else %}
	<h1>No Data to show</h1>
	{% endif %}
</div>

{% endblock content %}