{% extends "index.html" %}
{% load crispy_forms_tags %}
{% block content %}

<!-- Material form register -->
<div class="container">
    <div class="card">
        <h5 class="card-header bg-dark white-text text-center py-4">
            <strong>Service Details </strong>
        </h5>
        <!--Card content-->
        <div class="card-body px-lg-5 pt-0">
            <!-- Form -->
            <form method="POST" style="color: #757575;" action="">
                {% csrf_token %}
                <div class="form-row">
                    <div class="col">
                        <!-- First name -->
                        <div class="md-form">
                            <input type="text" name="customer_name" disabled value="{{ service.customer_name }}"
                                id="materialRegisterFormFirstName" class="form-control">
                            <label for="materialRegisterFormFirstName">Customer Name</label>
                        </div>
                    </div>
                    <div class="col">
                        <!-- Last name -->
                        <div class="md-form">
                            <input type="text" name="contact_details" disabled value="{{ service.contact_details }}" id="materialRegisterFormLastName" class="form-control">
                            <label for="materialRegisterFormLastName">Contact Details</label>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col">
                        <!-- First name -->
                        <div class="md-form">
                            <input type="text" name="service_type" disabled value="{{ service.service_type }}"
                                id="materialRegisterFormFirstName" class="form-control">
                            <label for="materialRegisterFormFirstName">Service Type</label>
                        </div>
                    </div>
                    <div class="col">
                        <!-- Last name -->
                        <div class="md-form">
                            <input type="text" name="vehicle_type" disabled value="{{ service.vehicle_type }}" id="materialRegisterFormLastName" class="form-control">
                            <label for="materialRegisterFormLastName">Vehicle Type</label>
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="col">
                        <!-- First name -->
                        <div class="md-form">
                            <input type="text" name="vehicle_make" disabled value="{{ service.vehicle_make }}"
                                id="materialRegisterFormFirstName" class="form-control">
                            <label for="materialRegisterFormFirstName">Vehicle Make</label>
                        </div>
                    </div>
                    <div class="col">
                        <!-- Last name -->
                        <div class="md-form">
                            <input type="text" name="vehicle_licence" disabled value="{{ service.vehicle_licence }}" id="materialRegisterFormLastName" class="form-control">
                            <label for="materialRegisterFormLastName">Vehicle Licence</label>
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="col">
                        <!-- First name -->
                        <div class="md-form">
                            <input type="text" name="vehicle_engine_type" disabled value="{{ service.vehicle_engine_type }}"
                                id="materialRegisterFormFirstName" class="form-control">
                            <label for="materialRegisterFormFirstName">Vehicle Engine Type</label>
                        </div>
                    </div>
                    <div class="col">
                        <!-- Last name -->
                        <div class="md-form">
                            <input type="text" name="selected_date" disabled value="{{ service.selected_date }}" id="materialRegisterFormLastName" class="form-control">
                            <label for="materialRegisterFormLastName">Servicing Date</label>
                        </div>
                    </div>
                </div>

                
                <div class="form-row">
                    <div class="col">
                        <!-- First name -->
                        <div class="md-form">
                            <select class="form-control mdb-select" name="status">
                                <option value="" disabled selected>Select Status</option>
                                <option {% if service.status == "Booked" %} selected {% endif %} value="Booked">Booked</option>
                                <option  {% if service.status == "InService" %} selected {% endif %} value="InService">In Service</option>
                                <option {% if service.status == "Fixed/Completed" %} selected {% endif %} value="Fixed/Completed">Fixed / Completed</option>
                                <option {% if service.status == "Collected" %} selected {% endif %} value="Collected">Collected</option>
                                <option {% if service.status == "Unrepairable/Scrapped" %} selected {% endif %} value="Unrepairable/Scrapped">Unrepairable / Scrapped</option>
                              </select>

                        </div>
                    </div>
                    <div class="col">
                        <!-- Last name -->
                        <div class="md-form">
                                    <select class="form-control mdb-select" name="assigned_to">
                                        <option value="" disabled selected>Assign To Engineer</option>
                                        <option {% if service.assigned_to == "STEVEN" %} selected {% endif %} value="STEVEN">STEVEN</option>
                                        <option {% if service.assigned_to == "MARKO" %} selected {% endif %} value="MARKO">MARKO</option>
                                        <option {% if service.assigned_to == "DAVID" %} selected {% endif %} value="DAVID">DAVID</option>
                                        <option {% if service.assigned_to == "NEWTON" %} selected {% endif %} value="NEWTON">NEWTON</option>
                                      </select>
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class='col'>
                        <div class="row">
                            <div class='col-sm-2'><label> Parts Price :</label></div>
                            <div class='col-sm-2'><span>&euro;</span><input name="parts_price" type="number" value="{{ service.parts_price}}"></div>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class='col'>
                        <div class="row">
                            <div class='col-sm-2'><label> Servicing Price :</label></div>
                            <div class='col-sm-2'><span>&euro;</span><input name="servicing_price" type="number" value="{{ service.servicing_price}}"></div>
                        </div>
                    </div>
                </div>
                <hr/>
                <div class="form-row">
                    <div class='col'>
                        <div class="row">
                            <div class='col-sm-2'><label>Total price :</label></div>
                            <div class='col-sm-2'><span>&euro;</span><input name="total_price" type="number" value="{{ service.total_price}}"></div>
                        </div>
                    </div>
                </div>

                <!-- Newsletter -->

                <!-- Sign up button -->
                <div class="form-row d-flex justify-content-center">
                    <button name='update' class="btn btn-custom" type="submit">Update</button>
                </div>
               
                <!-- Social register -->
            </form>
            <!-- Form -->

        </div>

    </div>
</div>

<!-- Material form register -->
{% endblock content %}