{% extends "index.html" %}
{% load crispy_forms_tags %}
{% block content %}

{% csrf_token %}
<!-- Material form register -->
<div class="container">
    <div class="card">
        <h5 class="card-header bg-dark white-text text-center py-4">
            <strong>Service Details </strong>
        </h5>
        <!--Card content-->
        <div class="card-body px-lg-5 pt-0">
            <!-- Form -->
            <form method="POST" style="color: #757575;" action="#!">

                <div class="form-row">
                    <div class="col">
                        <!-- First name -->
                        <div class="md-form">
                            <input type="text" disabled value="{{ service.customer_name }}"
                                id="materialRegisterFormFirstName" class="form-control">
                            <label for="materialRegisterFormFirstName">customer_name</label>
                        </div>
                    </div>
                    <div class="col">
                        <!-- Last name -->
                        <div class="md-form">
                            <input type="text" disabled id="materialRegisterFormLastName" class="form-control">
                            <label for="materialRegisterFormLastName">contact_details</label>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col">
                        <!-- First name -->
                        <div class="md-form">
                            <input type="text" disabled value="{{ service.service_type }}"
                                id="materialRegisterFormFirstName" class="form-control">
                            <label for="materialRegisterFormFirstName">service_type</label>
                        </div>
                    </div>
                    <div class="col">
                        <!-- Last name -->
                        <div class="md-form">
                            <input type="text" disabled id="materialRegisterFormLastName" class="form-control">
                            <label for="materialRegisterFormLastName">vehicle_type</label>
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="col">
                        <!-- First name -->
                        <div class="md-form">
                            <input type="text" disabled value="{{ service.vehicle_make }}"
                                id="materialRegisterFormFirstName" class="form-control">
                            <label for="materialRegisterFormFirstName">vehicle_make</label>
                        </div>
                    </div>
                    <div class="col">
                        <!-- Last name -->
                        <div class="md-form">
                            <input type="text" disabled id="materialRegisterFormLastName" class="form-control">
                            <label for="materialRegisterFormLastName">vehicle_licence</label>
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="col">
                        <!-- First name -->
                        <div class="md-form">
                            <input type="text" disabled value="{{ service.vehicle_make }}"
                                id="materialRegisterFormFirstName" class="form-control">
                            <label for="materialRegisterFormFirstName">vehicle_engine_type</label>
                        </div>
                    </div>
                    <div class="col">
                        <!-- Last name -->
                        <div class="md-form">
                            <input type="text" disabled id="materialRegisterFormLastName" class="form-control">
                            <label for="materialRegisterFormLastName">selected_date</label>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class='col'>
                        <div class="row">
                            <div class='col-sm-2'><label>price :</label></div>
                            <div class='col-sm-2'><span>&euro;200</span></div>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class='col'>
                        <div class="row">
                            <div class='col-sm-2'><label>price :</label></div>
                            <div class='col-sm-2'><span>&euro;200</span></div>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class='col'>
                        <div class="row">
                            <div class='col-sm-2'><label>price :</label></div>
                            <div class='col-sm-2'><span>&euro;200</span></div>
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class='col-sm-6'>
                        <hr />
                        <div class="row">
                            <div class='col-sm-4'><label>Total :</label></div>
                            <div class='col-sm-8'><span>&euro;200</span></div>
                        </div>
                    </div>
                </div>


                <!-- Newsletter -->

                <!-- Sign up button -->
                <div class="form-row d-flex justify-content-center">
                    <a href="/print" name='print'><button class="btn btn-custom">Print</button></a>
                    <button name='update' class="btn btn-custom" type="submit">Update</button>
                </div>
               
                <!-- Social register -->
            </form>
            <!-- Form -->

        </div>

    </div>
</div>

<!-- Material form register -->
{% endblock content %}