{% extends "index.html" %}
{% load crispy_forms_tags %}
{% block content %}
			<main class="main-content">				
				<div class="fullwidth-block content">
					<div class="container">
						<h2 class="entry-title">Omnis iste natus error sit voluptatem doloremque laudantium totam rem aperiam eaque ipsa quae ab illo inventore veritatis et quasi architecto</h2>

						<div class="row">
							<div class="col-md-5">
								<form method="POST" action="#" class="content-section contact-form">
									{% csrf_token %}
									<fieldset class="form-group">
										<legend class="border-bottom mb-4">Welcome Back</legend>
										{{ form|crispy }}
									</fieldset>
									<div class="form-group">
										<button class="btn btn-outline-info" type="submit">Log In</button>
									</div>
								</form>
								<div class="border-top pt-3">
									<small class="text-muted">
										Not registered yet Join Us here? <a class="ml-2" href="{% url 'garage-register' %}">Join Now</a>
									</small>
								</div>
							</form>
							</div>
						</div>
					</div>
				</div>

			</main> <!-- .main-content -->
{% endblock content %}