{% extends "index.html" %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container">
	<div class="row">
		<div class='col-sm-6 m-auto'>
			<form method="POST" action="#" class="contact-form">
				<div class='header rounded-top'>
					<h2>Join Today</h2>
				</div>
				<div class='border p-5 rounded-bottom'>
					{% csrf_token %}
					<fieldset class="form-group">
						{{ form|crispy }}
					</fieldset>
					<div class="form-group">
						<button class="btn w-100" type="submit">Sign Up</button>
					</div>
				</div>
			</form>
			<div class="border-top pt-3">
				<small class="text-muted">
					Already Have An Account? <a class="ml-2" href="{% url 'garage-login' %}">Sign In</a>
				</small>
			</div>

		</div>

	</div>
</div>

{% endblock content %}